@import url('pico.min.css');

.nav {
    padding: 16px 32px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 32px;
    margin-right: 8px;
}

input[type="date"] {
    padding-right: 0 !important;
}

#expensesChart {
    margin-top: 32px;
    display: none;
}

.no-data-info {
    display: none;
}
