<!doctype html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Expenses</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<nav th:replace="fragments.html :: nav"></nav>

<main class="container">
    <h1>Twoje wydatki</h1>

    <div>
        <p>Wygląda na to, że nie masz jeszcze żadnych wydatków. Naciśnij przycisk poniżej, aby dodać pierwszy!</p>
        <a href="/expenses/new" role="button" class="primary">Dodaj</a>
    </div>
</main>
</body>
</html>