<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<nav th:replace="fragments.html :: nav"></nav>

<main class="container">
    <h1>Zaloguj się</h1>

    <form method="post">
        <label for="login">
            Login
            <input type="text" id="login" name="login" placeholder="Podaj login" required>
        </label>

        <label for="password">
            Hasło
            <input type="password" id="password" name="password" placeholder="Podaj hasło" required>
        </label>

        <button type="submit">Zaloguj</button>
    </form>
</main>
</body>
</html>