<!doctype html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rejestracja</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<nav th:replace="fragments.html :: nav"></nav>

<main class="container">
    <hgroup>
        <h1>Zarejestruj się</h1>
        <h2>Uzupełnij poniższe pola, aby założyć nowe konto. Posiadasz już własne? <a href="/login">Zaloguj się</a></h2>
    </hgroup>

    <form method="post">
        <label for="name">
            Imię
            <input type="text" id="name" name="name" placeholder="Podaj imię" required>
        </label>

        <label for="login">
            Login
            <input type="text" id="login" name="login" placeholder="Podaj login" required>
        </label>

        <label for="password">
            Hasło
            <input type="password" id="password" name="password" placeholder="Podaj hasło" required>
        </label>

        <label for="password">
            Powtórz hasło
            <input type="password" id="passwordConfirmation" name="passwordConfirmation" placeholder="Powtórz hasło" required>
        </label>

        <button type="submit">Zarejestruj</button>
    </form>
</main>
</body>
</html>